<style type="text/css">

<!--

body {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 2px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
	font-weight: bold;
    color: black;
    }

td	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: none;
	font-size: 11px;
	}

h1,h2,h3,h4,h5,h6 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
	}

.small	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	}

.signature {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none;
    }

a, A	{ 
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
	font-size: 10px;
    }

.title1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;	
	font-size: 14px;
    text-decoration: none; 
	font-weight: bold;
	}


.menu_title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: white;
	font-weight: bold;
	font-size: 10px;
	}

.menu_item {
	font-family: Verdana, Arial, Helvetica, sans-serif;
    color: white;
	font-weight: bold;
	font-size: 10px;
	}

a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	color: #539EBD;
	text-decoration: none;
}

a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	color: #539EBD;
	text-decoration: none;
}

a:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	color: #539EBD;
	text-decoration: none;
}

a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	color: #904F39;
	text-decoration: none;
}

.textBord {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #4DA0BE;
}

//-->
