


@media screen and (max-width: 600px) {
table.table-responsive-stack tr:not(table:not([class]) tr) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}


table.table-responsive-stack td:not(table:not([class]) td),
table.table-responsive-stack th:not(table:not([class]) th) {
   display:block;
/*      
   flex-grow | flex-shrink | flex-basis   */
   -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

table.table-responsive-stack .table-responsive-stack-thead {
   font-weight: bold;
}

   table.table-responsive-stack tr:not(table:not([class]) tr) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      border-bottom: 3px solid #ccc;
      display:block;
      
   }
   /*  IE9 FIX   */
   table.table-responsive-stack td:not(table:not([class]) td) {
      float: left\9;
      width:100%;
   }
}

