
body {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 2px;
	font-family: Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: black;
    line-height: initial;

}

td   { font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 10pt;
	}

h1,h2,h3,h4,h5,h6 {
	font-family: Arial, helvetica, sans-serif;
        font-size: 14pt;
        text-decoration: none;
        font-weight: bold;
	}

.small    { font-family: Arial;
	    font-size: 8pt; }

.signature { font-family: Arial;
		font-size: 8pt;
		text-decoration: none;
            }

a, A     { font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
      }


.title1     { font-family: Arial, helvetica, sans-serif;	
		font-size: 14pt;
        	text-decoration: none; 
	  }


.menu_title {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	font-weight: bold;
	font-size: 9pt;
	padding:1px 1px 1px 1px;
	}

.menu_item {
	font-family: Arial, Helvetica, sans-serif;
	color: lightgrey;
	font-size: 9pt;

 }
.menu_item_public {
	font-family: Arial, Helvetica, sans-serif;
	color: lightgrey;
	font-size: 9pt;
	padding:10px 10px 10px 10px;
	border:1px solid #CE8A46;
	border-radius:8px;
	text-decoration:none;
 }

.menu_td_item {
	padding:10px 10px 10px 10px;
	border:1px solid #CE8A46;
	border-radius:8px;
 }
 
.menu_td_emph_public {
	border:1px none;
	border-radius:8px;
	background-clip: padding-box; 
	padding:4px 0px 4px 0px;
 }
.menu_td_emph_admin {
	padding:2px;
	border-radius:5px;
	background-clip: padding-box;
	border: 1px none; 
 }
.menu_line {
	background-color:#89441C;
	padding:10px 10px 10px 10px;
	border-radius:10px;
}
  input[type=button],
  input[type=submit] {
	background-color: #89441C;
	border: none;
	border-radius:5px;
	color: #fff;
	padding: 10px 20px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
  }

  input[type=button]:hover,
  input[type=submit]:hover {
	background-color:#9B4D20;
  }
  input[type=button]:disabled,input[type=submit]:disabled {
    background-color: #dddddd;
  }

a.button {
 background-color:#89441C;
// border:1px solid #660000;
 border-radius:5px;
 margin-left: auto;
 margin-right: auto;
 color:#fff;
 padding:10px 10px 10px 10px;
 display: inline-block; 
 text-decoration:none;
}
a.button:hover{
	color:white;
	background-color:#9B4D20;
}
a.menu_item:hover{
	color:yellow;
	/* text-decoration:underline; */
	background-color:#CE8A46;
}
table {
	border-collapse:collapse;
}
.et_pb_row img{padding:0;width:100%;}

@media screen and (max-width: 600px) {
 /*.hor_navigation  {
	margin : 0 auto;
	left: 0;
    overflow: visible;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    -webkit-transform-origin: top left;
     transform-origin: top left;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
     transition: all .2s ease-in-out;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-o-transform': scale(0.8);
  -ms-transform: scale(0.8); 
  transform: scale(0.8); }*/
 .menu_item_public {
	padding:6px 6px 6px 6px;
 }

 .menu_td_item {
	padding:6px 6px 6px 6px;
 }

 .menu_td_emph_public {
	border:1px none;
	border-radius:8px;
	background-clip: padding-box; 
	padding:0px 0px 0px 0px;
 }
 .hor_navigation table tr td {
	display:inline-block;
	white-space:nowrap;

 }
}

